:root {
    box-sizing: border-box;
}

#board {
    height: 400px;
    display: flex;
}

.column {
    border: 3px solid #baddad;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.disc {
    height:20px;
    border-radius: 50%;
}

.disc.pl1 {
    background-color: yellow;
}

.disc.pl2 {
    background-color: red;
}